*.o
*.lo
*.la
*.pyc
.*.swp
.libs/
.deps/
.dirstamp
.ignore
Makefile.in
Makefile
aclocal.m4
autom4te.cache
config.log
config.status
configure
libtool
tags
src/sst/elements/merlin/tests/*.out
src/sst/elements/merlin/tests/output/*
src/sst/elements/merlin/*DF*.txt
src/sst/elements/merlin/*.out
src/sst/elements/ember/test/*DF*.txt
src/sst/elements/ember/test/*.out

